
<mapper namespace="com.fintech.repository.mapper.TransactionMapper">

    <resultMap id="transactionResultMap" type="Transaction">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="currency" column="currency"/>
        <result property="creditorIBAN" column="creditor_iban"/>
        <result property="debtorIBAN" column="debtor_iban"/>
        <result property="amount" column="amount"/>
        <result property="dateTime" column="date_time"/>
        <result property="description" column="description"/>
        <result property="reference" column="reference"/>
    </resultMap>


    <select id="getTransactionById" resultMap="transactionResultMap">
        SELECT * FROM transactions WHERE id = #{id}
    </select>

    <insert id="insertTransaction" parameterType="Transaction">
        INSERT INTO transactions (status, currency, creditor_iban, debtor_iban, amount, date_time, description, reference)
        VALUES (#{status}, #{currency}, #{creditorIBAN}, #{debtorIBAN}, #{amount}, #{dateTime}, #{description}, #{reference})
    </insert>

</mapper>
